// COLORS
$color-primary: #0a9dd9;
$color-primary-light: #C62E99;
$color-primary-dark: #5C0095;
$color-gray-dark: #323947;


$color-primary-light: #0a9dd9;
$color-primary-dark: #0078ae;
$color-gray-dark: #777;

$color-gray-dark-2: #323947;

$color-secondary-dark-2: #999;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-teriary-light: #2998ff;
$color-teriary-dark: #5643fa;
$color-tertiary-light-2:#C62E99;
$color-tertiary-dark-2:#5C0095;
$color-green-light: #cdf457;
$color-green-dark: #a5d80e;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-white: #fff;
$color-off-white: #eff0f2;
$color-black: #000;
$color-navy-blue:#181B3A;

//  FONT
$default-font-size: 1.6rem;
$small-font-size: 2rem;

// GIRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal:6rem;
