.header {
    height: 55vh;
    background-image: linear-gradient(
        to right bottom,
    rgba(50, 57, 71, 0.7) ,
    rgba(50, 57, 71, 0.7)),;
    background-size: cover;
    background-position: top;
    position: relative;

   &__text-box{
     position: absolute;
     top: 50%;
     left:50%;
     transform: translate(-50%,-50%);
     text-align: center;
   }

}
