@keyframes moveInLeft {
  0%{
    opacity: 0;
    transform: translateX(-10rem);
  }

  80%{
    transform: translateX(1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0%{
    opacity: 0;
    transform: translateX(10rem);
  }

  80%{
    transform: translateX(-1rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}


@keyframes moveInBottom {
  0%{
    opacity: 0;
    transform: translateY(3rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottomServices{
  0%{
    opacity: 0;
    transform: translateY(10rem);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes glitch {
               0%,1%,2%,3%,4%,51%,52%,53%,54%,73%,74%,75%,76% {
                   text-shadow: 3px 0 0 #211E1E,-3px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               10%,5%,58%,59%,6%,60%,68%,69%,7%,70%,77%,78%,79%,8%,80%,9% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               11%,12%,13%,46%,83%,84%,85% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               14%,15%,43%,44%,45%,81%,82% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               16%,17%,18%,19%,20%,48%,49%,50%,88%,89%,90% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               21%,22%,23%,24%,25%,28%,29%,30%,92%,93%,94%,95% {
                   text-shadow: .8px 0 0 #3E3E3E,-.8px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               26%,27% {
                   text-shadow: .8px 0 0 #3E3E3E,-.8px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               100%,31%,32%,33%,34%,38%,39%,40%,96%,97%,98%,99% {
                   text-shadow: -3px 0 0 #3E3E3E,3px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               // 35%,36%,37% {
               //     text-shadow: -3px 0 0 #3E3E3E,3px 0 0 #858585;
               //     -webkit-filter: blur(.5px);
               //     filter: blur(.5px)
               // }
               //
               // 41% {
               //     text-shadow: 45px 0 0 #3E3E3E,-45px 0 0 #858585;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 42% {
               //     text-shadow: 0 0 0 #3E3E3E,0 0 0 #858585;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 47%,86%,87% {
               //     text-shadow: -3px 0 0 #211E1E,3px 0 0 #858585;
               //     -webkit-filter: blur(.5px);
               //     filter: blur(.5px)
               // }
               //
               // 55% {
               //     text-shadow: 3px 0 0 #211E1E,-3px 0 0 #3E3E3E;
               //     -webkit-filter: blur(.5px);
               //     filter: blur(.5px)
               // }
               //
               // 56%,57%,67% {
               //     text-shadow: -3px 0 0 #211E1E,3px 0 0 #3E3E3E;
               //     -webkit-filter: blur(.5px);
               //     filter: blur(.5px)
               // }
               //
               // 61% {
               //     text-shadow: 30px 0 0 #211E1E,-30px 0 0 #858585;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 62% {
               //     text-shadow: 0 0 0 #211E1E,0 0 0 #858585;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 63%,64%,65% {
               //     text-shadow: 1px 0 0 #211E1E,-1px 0 0 #3E3E3E;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 66% {
               //     text-shadow: 1px 0 0 #211E1E,-1px 0 0 #3E3E3E;
               //     -webkit-filter: blur(.5px);
               //     filter: blur(.5px)
               // }
               //
               // 71% {
               //     text-shadow: 50px 0 0 #211E1E,-50px 0 0 #3E3E3E;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 72% {
               //     text-shadow: 0 0 0 #211E1E,0 0 0 #3E3E3E;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
               //
               // 91% {
               //     text-shadow: 60px 0 0 #858585,-60px 0 0 #3E3E3E;
               //     -webkit-filter: blur(0);
               //     filter: blur(0)
               // }
           }
@keyframes glitch-2 {
               0%,1%,2%,3%,4%,51%,52%,53%,54%,73%,74%,75%,76% {
                   text-shadow: 3px 0 0 #211E1E,-3px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               10%,5%,58%,59%,6%,60%,68%,69%,7%,70%,77%,78%,79%,8%,80%,9% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               11%,12%,13%,46%,83%,84%,85% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               14%,15%,43%,44%,45%,81%,82% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               16%,17%,18%,19%,20%,48%,49%,50%,88%,89%,90% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               21%,22%,23%,24%,25%,28%,29%,30%,92%,93%,94%,95% {
                   text-shadow: .8px 0 0 #3E3E3E,-.8px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               26%,27% {
                   text-shadow: .8px 0 0 #3E3E3E,-.8px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               100%,31%,32%,33%,34%,38%,39%,40%,96%,97%,98%,99% {
                   text-shadow: -3px 0 0 #3E3E3E,3px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               35%,36%,37% {
                   text-shadow: -3px 0 0 #3E3E3E,3px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               41% {
                   text-shadow: 45px 0 0 #3E3E3E,-45px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               42% {
                   text-shadow: 0 0 0 #3E3E3E,0 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               47%,86%,87% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #858585;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               55% {
                   text-shadow: 3px 0 0 #211E1E,-3px 0 0 #3E3E3E;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               56%,57%,67% {
                   text-shadow: -3px 0 0 #211E1E,3px 0 0 #3E3E3E;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               61% {
                   text-shadow: 30px 0 0 #211E1E,-30px 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               62% {
                   text-shadow: 0 0 0 #211E1E,0 0 0 #858585;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               63%,64%,65% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               66% {
                   text-shadow: 1px 0 0 #211E1E,-1px 0 0 #3E3E3E;
                   -webkit-filter: blur(.5px);
                   filter: blur(.5px)
               }

               71% {
                   text-shadow: 50px 0 0 #211E1E,-50px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               72% {
                   text-shadow: 0 0 0 #211E1E,0 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }

               91% {
                   text-shadow: 60px 0 0 #858585,-60px 0 0 #3E3E3E;
                   -webkit-filter: blur(0);
                   filter: blur(0)
               }
           }
            @keyframes spin {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }

           @-moz-keyframes spin {
               from {
                   -moz-transform: rotate(0deg);
               }
               to {
                   -moz-transform: rotate(360deg);
               }
           }

           @-webkit-keyframes spin {
               from {
                   -webkit-transform: rotate(0deg);
               }
               to {
                   -webkit-transform: rotate(360deg);
               }
           }

