.section-services {

  .heading__services{
    text-align: center;
    padding: 8rem 0;
  }
}
.section-features {
  padding: 20rem 0;
  background-color: $color-gray-dark;

  .heading__features{
    text-align: center;
  }
}


.section-about{
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-tours{
  background-color: $color-gray-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.section-stories {
  position: relative;
  padding: 15rem 0;
}

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

.book {
  background-image: linear-gradient(105deg, rgba($color-white, .9) 0%, rgba($color-white, .9) 50%, transparent 50% ), url(../img/nat-10.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .2);


  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}

.services-tabs {
  .content-tab{
    background: linear-gradient(225deg, #0AF 0%, #03F 100%);
    padding-top: 12rem;
    padding-bottom: 12rem;

    p{
      font-size: $default-font-size;
      font-weight: 100;
      color: $color-white;
      letter-spacing: .5px;

    }
  }
}
