.our-services {
    background-color: $color-off-white;
    padding-top: 10rem;
    padding-bottom: 15rem;
    ul {
        list-style: none;
    }
    & h2 {
        font-size: 5rem;
        margin-bottom: 3rem;
        font-weight: 300;
    }
    li {
        font-size: 2.5rem;
    }

}
    .slim-margin {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }



.seo-card__section {

    padding: 10rem 0;
    background-image: linear-gradient( to right bottom, rgba($color-teriary-light, 0.8),
                        rgba($color-teriary-dark, 0.8)), url(../img/mauro-mora-85112.jpg);
    background-size: cover;
    transform: skewY(-5deg);
    margin-top: -7rem;

    &>* {
        transform: skewY(5deg);
    }
}

.fa-cogs {
    position: absolute;
    color:$color-white;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.why-moxi {
    background-color: $color-off-white;
    padding-top: 20rem;
    padding-bottom: 10rem;
    margin-top: -10rem;
}
.slider-section {
    padding: 10rem 0;
    margin-top: -17rem;
        & .col {
            flex-grow: 0;
        }
}
.slider-circle {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background: $color-gray-dark-2;
    margin: 2rem;
    &:hover {
        transform: scale(1.2);
        transition: transform .5s ease;
    }
}
.slider {
    display: block;
    position: relative;
    width: 90vw;

}
.slider-content {
    display: block;
    margin: 3rem;
}
.content-left {
    position: relative;
    display: block;
    float: left;
    margin: 2rem;
    width: 40vw;
}
.content-right {
    position: relative;
    display: block;
    float: right;
    margin: 2rem;
    width:80%;
}
.slider-paragraph {
    position: absolute;
    top: 10rem;
    left: 10rem;
}
.slider-h3 {
    position: absolute;
    top: 6rem;
    left: 10rem;
}

.seo-img-1 {
    position: relative;
    float: right;
    right: 20rem;
}
.seo-img-1b {
    position: relative;
    left: 75rem;
    top: 32rem;
}

.seo-img-2 {
    position: relative;
    float: right;
    right: 20rem;

}
.seo-img-3 {
    position: relative;
    float: right;
    right: 20rem;
}


.slick-next, .slick-prev {
        position: absolute;
        top: 35%;
        background: transparent;
        height: 80px;
        color: transparent;
}

.slick-prev:before {
          content: "\f104";
          font-family: FontAwesome;
          padding: 0 1rem;
          color: $color-gray-dark-2;
          position: absolute;
          font-size: 10rem;
          top: 0%;
          left: 20%;
}

.slick-next:before {
        content: "\f105";
        font-family: FontAwesome;
        padding: 0 10px;
        color: $color-gray-dark-2;
        position: absolute;
        font-size: 10rem;
        top: 0%;
        right: 20%;
}

.slick-prev, .slick-next {
    z-index: 1;
}

.seo-img-1b {
    // display: relative;
    // top: 20rem;
}